@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pagos Inteligentes</h1>
    <br />
    <h4 class="display-4">Prueba Tecnica</h4>
    <br />
    <div class="card" style="width:fit-content()">
        <div class="card-body">
            <h3>
                Felipe Esteban Riaño Pineda
            </h3>
            <br />
            <p>
                Desarrollo de la prueba tecnica
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> Correo: friano@unal.edu.co</li>
            <li class="list-group-item"> Celular: 3053063835</li>
            <li class="list-group-item"> WhatsApp: +57 3107907321 </li>
        </ul>
    </div>
</div>
